@charset "UTF-8";


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-family:'Jeju Hallasan';}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration-line: none; color:#1d00bb;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
img {
    vertical-align:middle;
    border-radius: 2%;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
:before,
:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* Common style */
.hide {
    display:none;
}

/* footer */
#footer {
    padding:10px 0;
    background-color:#3fb4b6;
    font-size:11px;
    color:#fff;
    text-align:center;
}

/* header */
.scrollspy {
    overflow:hidden;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:100;
}
.scrollspy .nav {
    width:101%;
    border-bottom:2px solid #40b3b6;
}
.scrollspy .nav:before,
.scrollspy .nav:after {
    display:table;
    content:'';
}
.scrollspy .nav:after {
    clear:both;
}
.scrollspy .nav > li {
    float:left;
    width:33.33%;
}
.scrollspy .nav > li > a {
    display:block;
    height:48px;
    padding-top:2px;
    border-width:0 1px;
    border-style:solid;
    border-color:transparent #060910 transparent #616773;
    background-color:#394251;
    -webkit-box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .5);
    box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .5);
    font-size:15px;
    color:#a4abbb;
    line-height:48px;
    text-align:center;
    text-decoration:none;
}
.scrollspy .nav > li:first-child > a {
    border-left:0;
}
.scrollspy .nav > li:last-child > a {
    border-right:0;
}
.scrollspy .nav > .active > a {
    border:0;
    background-color:#3eb4b6;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-weight:bold;
    color:#fff;
}
.scrollspy .nav > .active + li > a {border-left:0;}

.top-offset {
    padding-top: 50px;
}
/* Main image */
.img-main {
    text-align: center;
}
.img-main > img {
    max-width: 80%;
    height: auto;
    border-radius: 50% !important;
    margin: 30px;
}

/* Slide */
.swiper-container {
}
.swiper-slide {
    padding:15px 15px 15px;
}
.swiper-slide img {
    max-width:100%;
    border:5px solid rgba(255, 255, 255, .75);
    border-radius: 20%;
    height: auto;
}
.swiper-pagination-bullet-active {
    background:#3fb4b6;
}
.swiper-container-horizontal>.swiper-pagination {
    bottom:30px;
}
.swiper-button-prev, .swiper-button-next {
    background-color: #082667;
    padding: 50px 30px;
    border-radius: 12%;
    opacity: 60%;
    top: 76%;
}
.swiper-pagination-bullet {
    width:10px;
    height:10px;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin:0 4px;
}

/* 모시는글 */
.attend-area {
    padding:25px 0 40px;
    background:url(../files/bg-pattern.png) repeat;
    -webkit-background-size:15px auto;
    background-size:15px auto;
}
.attend-area .inner {
    overflow:hidden;
    width:292px;
    height:273px;
    margin:0 auto;
    background:url(../files/img-attend.png) no-repeat;
    -webkit-background-size:292px auto;
    background-size:292px auto;
    text-indent:-9999px;
}
.center-wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	-height: 100vh; /* Adjusted to center vertically */
	padding: 25px 0 0 0;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
}
.circle-container {
	margin: auto;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column; /* Arrange content in a column */
	align-items: center;
	justify-content: center;
	font-size: 3em;
	font-weight: bold;
}
.circle-container-contents {
	display: flow;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
.additional-content {
  margin-top: 20px; /* Adjust the margin as needed */
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
}
.additional-content p {
  margin-top: 6px; /* Adjust the margin as needed */
}

/* 오시는길 */
.access-area {
    padding:25px 0 40px;
}
.access-area .inner {
    overflow:hidden;
    position:relative;
    width:320px;
    height:475px;
    margin:0 auto;
    padding-bottom:109px;
    background:url(../files/img-access.png) no-repeat 50% 0;
    -webkit-background-size:320px auto;
    background-size:320px auto;
    text-indent:-9999px;
}
.access-area .-btn-naver-map,
.access-area .btn-kakao {
    overflow:hidden;
    position:absolute;
    left:50%;
    width:160px;
    height:37px;
    margin-left:-80px;
}
.access-area .-btn-naver-map {
    bottom:57px;
    border-width:1px;
    border-style:solid;
    border-color:#dedede #bfbfbf #bfbfbf #dedede;
    background-color:#00c70a;
    font-size:12px;
    color:#f3f3f3;
    line-height:37px;
    text-align:center;
    text-indent:0;
    text-decoration:none;
}
.access-area .btn-kakao {
    bottom:0;
    text-indent:0;
}

/* 아빠 엄마 소개 */
.thumb img {
	width: 100px;
}
.couple-intro {
    background-size:20px auto;
}
.couple-intro .inner {
    width: 80%;
    margin:0 auto;
}
.couple-intro .couple-intro .thumb {
    display:block;
    margin-top:20px;
}
.couple-intro .profile-container {
	display: flex;
	width: 100%;
	margin-top: 20px;
}
.couple-intro .profile-container .profile-left {
	flex: 1;
    text-align: center;
}
.couple-intro .profile-container .profile-right {
	flex: 2;
	font-size: 1.2em;
}
.kakao-link {
    display:block;
    margin-top:20px;
    text-align:center;
}

.mt10 {
	margin-top: 10px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.font-10 {
	font-size: 3em;
}
.font-20 {
	font-size: 20px;
}
.text-bold {
	font-weight: bold;
}
.text-blue {
	color:#679bd8;
}
.text-pink {
	color: palevioletred;
}
.text-center {
	text-align: center;
}
